<div class="comment-top">
    <h4>Yorum Ekle</h4>
    <div class="comment-bottom">
        <form asp-controller="Comment" asp-action="PartialAddComment" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button id="btn" type="submit" class="btn btn-primary submit">Kaydet</button>
        </form>
    </div>
</div>
